	<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="app" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="app" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AWS Demo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  <div align="center"> <h2 >Welcome to AWS Demo</h2></div>
  <div ng-controller='homeCtrl'>
    <div ng-show="!showSection" align="center" style="padding-top: 2cm;">
    	<h4>Since you are seeing this page, <button ng-click='toggleModal();showSectionFn()'>Click here</button> to know what went underneath </h4>
    </div>
    <modal-dialog show='modalShown' width='400px' height='60%'>
      <ol>
	  	<li>Identity Access Management
	  		<ul>
	  			<li>Roles</li>
	  			<li>Secuity Groups</li>
	  		</ul>
	  	</li>
	  	<li>EC2</li>
	  	<li>Installing tools on EC2 
	  		<ul>
	  			<li>Maven</li>
	  			<li>Git</li>
	  		</ul>
	  	</li>
	  </ol>		
    </modal-dialog>
    
    <div ng-show="showSection">
    	<div ><h4>Select below links to see AWS services in action </h4></div>
	    <div id="homeSec" class="home-section">
		    <ul class="menu-list">
		        <li><a href="#/s3" ng-click='showS3Fn()'>S3</a></li>
		        <li><a href="#/sqs" ng-click='showSQSFn()'>SQS</a></li>
		        <li><a href="#/sns" ng-click='showSNSFn()'>SNS</a></li>
		        <li><a href="https://console.aws.amazon.com/lambda/home?region=us-east-1#/functions">Lambda</a></li>
		        <li><a href="https://console.aws.amazon.com/lex/home?region=us-east-1#bot-editor:bot=BookTrip">Lex</a></li>
		        <li><a href="https://console.aws.amazon.com/polly/home/SynthesizeSpeech">Polly</a></li>
		        <li>DynamoDB</li>
		        <li>RDS</li>
		    </ul>
		</div>
	</div>
  </div>

<div ng-view></div>
<script src="/webjars/angularjs/1.4.9/angular.js"></script>
<script src="/webjars/angularjs/1.4.9/angular-resource.js"></script>
<script src="/webjars/angularjs/1.4.9/angular-route.js"></script>
<script src="/js/app.js"></script>
<script src="/js/controller.js"></script>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.css">
</body>
</html>
